# Anthropic
# The Agent SDK automatically reads this naming convention from
# the environment, so do not rename it
ANTHROPIC_API_KEY=your-anthropic-api-key-here

# VirusTotal
# The free tier allos 4 requests/min, 500/day
VT_API_KEY=your-vt-api-key-here

# Logging info
SENT_SAGE_LOG_LEVEL=INFO
SENT_SAGE_LOG_FILE=logs/sent_sage.log

# Data paths
SENT_SAGE_PCAP_DIR=data/pcaps
SENT_SAGE_REPORTS_DIR=reports

